{% extends "artist_base.html" %} {% block title %}Edit Tracks{% endblock %}

{% block content %}
<h1>edit tracks</h1>
<hr>
<div class="container">
    <div class="row">
          <div class="col-md-6">
              <span>singles</span>
              <br>
              <!-- Button for each track -->
              {% for track in tracks %}
              <button class="btn btn-dark edit-btns" data-bs-toggle="modal" data-bs-target="#modal{{ track['_id'] }}">

                  {{ track["track_name"] }}
              </button>
              <br>
              {% endfor %}
          </div>
          <div class="col-md-6">
              <span>albums</span>
              <br>
              <button class="btn btn-dark edit-btns">lua-ve is in the air tonight</button>
          </div>
        
    </div>
</div>

{% for track in tracks %}
<!-- Modal -->
<div class="modal fade" id="modal{{ track['_id'] }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">edit track details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                    <form method="POST">
                        <label for="track-name">track name</label>
                        <input type="text" name="track-name" class="form-control" placeholder="{{ track['track_name'] }}">
                        <br>
                        <label for="track-description">track description</label>
                        <textarea name="track-description" rows="3" class="form-control" placeholder="{{ track['track_description'] }}"></textarea>
                        <br>
                        <label for="track-genre">track genre</label>
                        <input type="text" name="track-genre" class="form-control" placeholder="{{ track['track_genre'] }}">
                        <br>
                        <span>
                          <button class="btn btn-dark">+ edit audio</button>
                          <button class="btn btn-dark">+ edit artwork</button>
                        </span>
                        <br><br>

                        <label for="track-date">release date</label>
                        <input type="date" name="track-date" class="form-control" placeholder="{{ track['track_date'] }}">
                  </div>
                  <div class="col-md-6">
                      <label for="pricing">pricing</label>
                      <input type="number" name="pricing" class="form-control" placeholder="{{ track['track_pricing'] }}">
                      <br>

                      <label for="preview-len">preview length</label>
                        <select name="prview-len" class="form-control">
                          <option value="" selected="selected">none</option>
                          <option value="">30 seconds</option>
                          <option value="">1 minute</option>
                        </select>
                        <br>

                      <label for="track-credits">track credits</label>
                      <input type="text" name="track-credits" class="form-control" placeholder="{{ track['track_credits'] }}">
                      <br>

                      <input type="radio" name="privacy" id="public" value="public">
                      <label for="public">public</label>
                      <input type="radio" name="privacy" id="private" value="private">
                      <label for="private">private</label>

                    </form>
                  </div>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark">save draft</button>
          <button type="button" class="btn btn-dark">publish</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->
  {% endfor %}
{% endblock %}