{% extends "fan_base.html" %} {% block title %}Fan Home{% endblock %}

{% block content %}
<h1>This is the fan homepage</h1>

<ul id="navigation">
{% for artist in artists %}
    <!-- <li><{{ artist['id'] }}</li> -->
    <li>{{ artist["_id"] }} {{ artist["first_name"] }} {{ artist["last_name"] }}</li>
    <li>{{ artist["first_name"] }}</li>
    <li></li>
    <li>{{ artist["email"] }}</li>
    <li>{{ artist["website"] }}</li>
    <li>{{ artist["city"] }}</li>
    <li>{{ artist["profile_image"] }}</li>
    <li>{{ artist["first_name"] }}</li>
    <li>{{ artist }}</li>
{% endfor %}
</ul>


{% endblock %}