<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css')}}">

        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <script
             src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous">
        </script>

        <script 
            src="{{ url_for('static', filename='bootstrap.js')}}">
        </script>

    <title>Minerva Music App</title>
</head>
<body class="landing">

    <header class="landing">
        <img
            class="landing"
            src="{{ url_for('static', filename='minerva-logo-icon.svg') }}"
            alt="minerva logo" />
    <h1 class="landing">minverva | music experience</h1>
    </header>
    <div class="landing">
    <h2 class="landing">new music</h2>
    <h2 class="landing">new discoveries</h2>
    <h2 class="landing">new possibilities</h2>
    </div>
    <div class="buttoncta">
        <a href="/artist-home"><button type="button" class="btn btn-cta">artist</button></a>
        <a href="/fans-home"><button type="button" class="btn btn-cta">fan</button></a>
    </div>
</body>
</html>