{% extends "fan_base.html" %} {% block title %}Fan Home{% endblock %}

{% block content %}
<h1>This is the fan homepage</h1>



<h4>Highlighted Artists</h4>
<div class="container testimonial-group">
  <div class="row text-center">
    {% for artist in artists %}

		<div class="col-4 card">
			<h6><b>Artist:</b> {{ artist["first_name"] }} {{ artist["last_name"] }}</h6>
			<p><b>Website:</b> {{ artist["website"] }}</p>
			<p><b>Email:</b> {{ artist["email"] }}</p>
			<p><b>Location:</b> {{ artist["city"] }}, {{ artist["state"] }}</p>

			<img src="{{ artist["profile_image"] }}" width="50" height="50">
		</div>

	{% endfor %}
  </div>
</div>


<h4>Highlighted Tracks</h4>
<div class="container testimonial-group">
  <div class="row text-center">
    {% for track in tracks %}

		<div class="col-4 card">
			<h6><b>Track Title:</b> {{ track["track_name"] }}</h6>
			<p><b>Artist:</b> {{ track["track_artist"] }}</p>
			<p><b>Description:</b> {{ track["track_description"] }}</p>
			<p><b>Genre:</b> {{ track["track_genre"] }}</p>
			<p><b>Price:</b> ${{ track["track_pricing"] }}</p>
			<p><b>Release Date:</b> {{ track["track_date"] }}</p>
		</div>

	{% endfor %}
  </div>
</div>


<h4>Upcoming Shows</h4>
<div class="container testimonial-group">
  <div class="row text-center">
    {% for show in shows %}

		<div class="col-4 card">
			<h5>{{ show["show_name"] }}</h5>
			<h6>{{ show["show_artist"] }}</h6>
			<p>{{ show["show_description"] }}</p>
			<h6><b>When:</b> {{ show["show_date"] }}: {{ show["show_time"] }}</h6>
			<p><b>Link:</b> <a href="">{{ show["show_link"] }}</a></p>
		</div>

	{% endfor %}
  </div>
</div>


{% endblock %}