{% extends "artist_base.html" %} {% block title %}new track{% endblock %}

{% block content %}
<h1>new track</h1>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" action="/edit-tracks" enctype="multipart/form-data">
                <label for="track-name">track name</label>
                    <input type="text" name="track-name" placeholder="enter track title" class="form-control" required>
                <br>
                <label for="track-description">track description</label>
                    <textarea name="track-description" placeholder="describe your amazing track" class="form-control" rows="3"></textarea>
                <br>
                <label for="track-genre">track genre</label>
                    <input type="text" name="track-genre" placeholder="separate with commas" class="form-control">
                <br>

          

                <label for="track-artwork">upload artwork</label>
                    <input type="file" name="track-artwork" class="form-control">
                <br>
                <label for="track-audio">upload audio</label>
                    <input type="file" name="track-audio" class="form-control">
            
                <br>
                <label for="track-date">track date</label>
                    <input type="date" name="track-date" class="form-control">
        </div>
        <div class="col-md-6">
            <label for="pricing">pricing</label>
                </span><input type="number" name="pricing" placeholder="0.00" class="form-control">
                <span>*leave price empty for free download</span>
            <br>
            <label for="preview-len">preview length</label>
                <select name="preview-len" class="form-control">
                    <option value="0" selected>none</option>
                    <option value="">30 seconds</option>
                    <option value="">1 minute</option>
                </select>
            <br>
            <label for="track-credits">track credits</label>
                <input type="text" name="track-credits" placeholder="who helped make this smash?" class="form-control">
            <br>
            <input type="radio" name="privacy" id="public" value="public">
            <label for="public" class="non-modal">public</label>
            <input type="radio" name="privacy" id="private" value="private">
            <label for="private" class="non-modal">private</label>
            <br><br>
            <span>

                <button class="btn btn-light-sub">save draft</button>
                <button type="submit" class="btn btn-light-sub">publish</button>

            </span>    
            </form>
        </div>
    </div>
</div>
{% endblock %}