/* || Sitewide */

body {
    font-family: helvetica;
    background: #221d2b;
    color: #9776dc;
}

.bg-light {
    background-color: #9776dc !important;
}


.form-control {
    background-color: rgba(151, 118, 220, 0.7);
}

.form-control:focus {
    background: rgba(151, 118, 220, 0.9);
}

.form-control::placeholder {
    color: #221d2b;
}

.form-control::-webkit-input-placeholder {
    color:#221d2b;
}

.form-control::-moz-placeholder {
    color:#221d2b;
}

.form-text {
    color:#221d2b;
}

/* || Sitewide - modal */
.modal-body, .modal-header, .modal-footer {
    background: #9776dc;
}

button.btn-close {
    color:#9776dc;
}

.btn-light {
    color: #221d2b;
    background-color: #9776dc;
    border: none;
}

.btn-light-sub {
    color: #221d2b;
    background-color: #e5afff;
    border: none;
}
.btn-light-sub:hover {
    color: #221d2b;
    background-color: #c793df;
    border: none;
}

.btn-light:hover {
    background-color:rgba(151, 118, 220, 0.7);
}

.btn-dark {
    background: #221d2b;
}

label {
    color: #221d2b;
}

label.non-modal {
    color:#9776dc;
}

h4 {
    color: #221d2b;
}


/* || Sitewide - Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
}

footer div {
    color: white;
}

.content-wrap {
    padding-bottom: 7rem;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

/* || Edit tracks (artist) */

.edit-btns {
    width: 60%;
    margin-bottom: 1%;
    text-align: left;
}

/* || Date Demo (Fans homepage) */

/* sidescroll for data demo */
/* source https://stackoverflow.com/questions/38901166/horizontal-scrollable-divs-in-a-bootstrap-row*/
.testimonial-group > .row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.testimonial-group > .row > .col-xs-4 {
  flex: 0 0 auto;
}

/* Decorations */
.col-xs-4 { color: #fff; font-size: 48px; padding-bottom: 20px; padding-top: 18px; }
.col-xs-4:nth-child(3n+1) { background: #c69; }
.col-xs-4:nth-child(3n+2) { background: #9c6; }
.col-xs-4:nth-child(3n+3) { background: #69c; }